*{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box}

html, body {border: 0; font-size: 1.1em;}
body {
  background-color: whitesmoke;
}

#header-banner-div { position: relative; display: block; width: 80%; height: 15em; top: 0; text-align: center; margin-left: auto; margin-right: auto;}
img#header-banner-image { top: 0; height: 100%; border: 0; margin: 0; margin-left: auto; margin-right: auto;}

h1 {text-align: center;}

p {max-width: 40em; text-align: center; margin-left: auto; margin-right: auto; position: relative;}

#box-model-image-holder { display: block; clear:both; position: relative; text-align: center;}

nav {text-align: center; right: 1.2em; top: 3em; position: fixed;}
nav ul {list-style-type: none; margin:0; padding:0;}

nav ul li {/* margin: 0; padding: 0 */}

nav li a:hover {background-color: deepskyblue; display: block;}

a {text-decoration: none;}

#box-model-image { height: 100%; border: 0.2em solid black;}

div {position: relative; display: block; margin: 0; padding: 0;}

code {display: inline-block; padding: 0.1em; background-color: lightskyblue; border: 0.1em dotted black; border-radius: 0.2em;}

h1 code {padding: 0.1em; border-radius: 0.2em; }

#header-banner-image, #box-model-image {border-radius: 0.5em; }

li.deans-learning-plan-writing-response {background-color: rgb(95, 163, 157); padding: 0.4em; border: 0.15em solid darkgray}

ul li {max-width: 35em; margin: 0.4em; border-radius: 0.7em;}

ul.center {width: 44em; margin-left: auto; margin-right: auto;}