*{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box}

html, body {border: 0; padding: 0; margin: 0;}
body {
	/* background-color: lightskyblue; */
  background-color: whitesmoke;
}

#header-banner-div { position: absolute; display: block; clear: both; width: 100%; height: 15em; top: 0; text-align: center;}
img#header-banner-image { top: 0; height: 100%; border: 0; margin: 0; margin-left: auto; margin-right: auto;}

h1 {margin-top: 9em; text-align: center;}

nav {text-align: center;}
ul {list-style-type: none; margin:0; padding:0;}

ul li {margin: 0; padding: 0;}
